* {
  margin:0;
  padding:0;
  line-height: 1.6;


}
.header {
  
background-color: #f1f1f1;
}

.wrapper {
  margin:0 auto;
  width:100%;
}

.bg {
width: 100%;
background-image: linear-gradient(rgba(0, 128, 0, 0.65),rgba(0, 0, 0, 0.95)),url("media/bgg.jpg");
background-size: cover;
position: relative;
background-position: center;
}

.otherbg {
  background-image: linear-gradient(rgba(0, 128, 0, 0.65),rgba(0, 0, 0, 0.95)),url("media/bgg.jpg");
  background-size: cover;
  position: relative;
  background-position: center;
  height: 330px;
  width: auto;
  }


/* Style the header links */
.wrapper a {
float: left;
color: rgb(255, 255, 255);
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px;
line-height: 25px;
border-radius: 4px;
}


#logo{
margin: 1% 1%;
float: left;
max-width: 30%;
width: 400px;

}

.wrapper a:hover {
color: rgb(255, 255, 255);
background-color: rgb(0, 0, 0);
}

.contacts{
  padding: 5%;
}


input[type=text] {
  background: #73AD21;
  padding: 20px;
  box-sizing: border-circular;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  margin-top: 3%;
  opacity: 50%;
}

.blk {
  z-index: 2;
  background-color: rgb(0, 128, 0);;
  padding:2%;
  float: right;
  position: sticky;
  top: 0;
  opacity: 90%;
}

.blk a{
  float: none;
      display: block;
      text-align: left;
      opacity: 100%;
  }
footer {
padding: 2.5%;
color: white;
background: rgb(0, 0, 0);;
width: auto;
}

footer li {
float: left;
padding: 0 10px;
list-style: none;
}

footer a {
color: white;
}

footer p {
float: right;
}
.bgtext{
float: center;
font-size: x-large;
opacity: 75%;
}

.bgtext2{
  float: left;
  opacity: 75%;
  }
.text-container2 {
  text-align: left;
  color: rgb(255, 255, 255);
  padding-top: 15%;
  margin-left: -20%;
  }
  
.large {
font-size: 65px;
}
.text-container {
text-align: center;
color: rgb(255, 255, 255);
padding: 20%
}

.about{
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  text-align: left;
  width: 100%;
  display: flex;
}
.logoimg{
  max-width: 20%;
  text-align: center;
}

.example {
  background-image: linear-gradient(rgba(0, 0, 0, 1),rgb(0, 88, 0));
  color:white;
  text-align: left;
  width: 100%;
  display: flex;
}




.example11 {
  background-image: linear-gradient(rgba(0, 128, 0, 1),rgb(0, 128, 0, 1));
  color:white;
  text-align: left;
  width: 100%;
  display: flex;
}


.example p{
  font-size: large;
}
.example-item {
  display: inline-block;
  padding: 20px;
}

.example-item h1{
  padding: 20px;
}
.example-item P{
  padding: 20px;
}

.example-item-1 {
  width: 33%;
  flex-basis: 100%;

}
.example-item-2 {
  width: 33%;
  flex-basis: 100%;

}
.example-item-3 {
  width: 33%;
  flex-basis: 100%;  

}

.responsive {
  padding: 1.665%;
  float: left;
  width: 30%;
  background-color: white;

}
div.gallery img {
  width: 100%;
  height: auto;
}

.flexcontainer {
  display:flex;
  }


@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 900px) {
*{
  font-size: 100%;
}
#logo{
  margin: 1% 1%;
  float: left;
  max-width: 50%;
  width: 400px;
}

.header-right {
  float: none;
}

.bg{
min-height: 50%;
width: 100%;
}
.blk a{
font-size:small;
float: none;
    display: block;
    text-align: left;
}
.example{
flex-wrap: wrap;
width: 100%;
} 

.about{
flex-wrap: wrap;
width: 100%;
} 

.example-item h1{
  padding: 10px;
}
.example-item P{
  padding: 10px;
}

.Gallery img{
max-width: 100%;
max-height: 100%;
}
#icon{
  visibility: visible;
  display: block;
}
.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #mylink {
  display: none;
}
.text-container2 {
  text-align: left;
  color: rgb(255, 255, 255);
  padding-top: 25%;
  margin-left: -40%;
  font-size: xx-large;
}

.topnav a:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

input[type=text] {
  background: #73AD21;
  padding: 10px;
  box-sizing: border-circular;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  transition: width 0.4s ease-in-out;
  margin-top: 3%;
  opacity: 50%;
}

}